@use "../../abstracts" as *;

.leftContainer {
  display: flex;
  align-items: center;
}

.left {
  background: white;
  border-radius: 100%;
  box-shadow: $shadow;
  color: $primary;
  font-size: clamp(1.25rem, 1.25vw, 1.25vw);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-left: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-right {
  transition: all 0.5s ease-in-out;
  transform: rotateZ(-180deg);
}

.arrow-left {
  transition: all 0.5s ease-in-out;
  transform: rotateZ(0deg);
}

.page-name {
  font-size: clamp(1.25rem, 1.25vw, 1.25vw);
  margin: 0 0 0 1rem;
}
