@use "../../abstracts" as *;

.leftContainer {
  @extend %flex-align-center;
}

.left {
  @extend %main-icon;
  background: white;
  box-shadow: $shadow;
  color: $primary;
  font-size: $medium-font-size;
  margin-left: -3rem;
  cursor: pointer;
}

.arrow-right {
  transition: $transistion-ease;
  transform: rotateZ(-180deg);
}

.arrow-left {
  transition: $transistion-ease;
  transform: rotateZ(0deg);
}

.page-name {
  font-size: $medium-font-size;
  margin: 0 0 0 1rem;
}

@media only screen and (max-width: 800px) {
  .leftContainer {
    display: none;
  }
}
