@use "../../abstracts" as *;

.right {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  height: 100%;
}

.icon {
  font-size: clamp(1rem, 1vw, 1vw);
  cursor: pointer;
  margin-left: 1.5rem;
}

.user {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  .name-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    color: white;
    font-size: clamp(1rem, 1vw, 1vw);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }

  .user-name {
    margin-left: 1rem;
  }

  .icon {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .user-name,
  .icon {
    display: none;
  }

  .user {
    margin-left: 0;
    .name-logo {
      margin-left: 0;
    }
  }
}
