@use "../../abstracts" as *;

.right {
  @extend %flex-align-center;
  height: 100%;
}

.icon {
  font-size: $basic-font-size;
  cursor: pointer;
  margin-left: 1.5rem;
}

.user {
  @extend %flex-align-center;
  margin-left: 1rem;

  .name-logo {
    @extend %main-icon;
    background: $primary;
    color: white;
    font-size: $basic-font-size;
    margin-left: 1rem;
  }

  .user-name {
    margin-left: 1rem;
  }

  .icon {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .user-name,
  .icon {
    display: none;
  }

  .user {
    margin-left: 0;
    .name-logo {
      margin-left: 0;
    }
  }
}
