@use "../abstracts" as *;

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.right-container {
  @extend %full-container;
}

.responsive-layout,
.normal-layout {
  @extend %full-container;
}

.normal-layout {
  display: flex;
}

@media only screen and (min-width: 800px) {
  .responsive-layout {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .normal-layout {
    display: none;
  }
}
