@use "../../abstracts" as *;

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-left: 4px solid transparent;

  h1 {
    margin: 0;
    margin-left: 0.75rem;
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  }

  .logo {
    display: flex;
    align-self: center;
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  }
}
