@use "../../abstracts" as *;

.main {
  background-color: $primary;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: none;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.25rem 0 0 0;
  transition: all 0.3s ease-in-out;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exit-logo {
  margin-right: 2rem;
}

@media only screen and (max-width: 800px) {
  .main {
    // display: none;
    // width: 100vw !important;
  }
}
