@use "../../abstracts" as *;

.main {
  background-color: $primary;
  color: white;
  @extend %flex-column-between;
  height: 100%;
  overflow: none;
  overflow-y: auto;
  padding: 0.25rem 0 0 0;
  transition: $transistion-ease;
}

.logo-container {
  @extend %flex-between;
  width: 100%;
}

.exit-logo {
  cursor: pointer;
  margin-right: 2rem;
}

@media only screen and (max-width: 800px) {
  .logo-container {
    // justify-content: space-between;
  }
}
